body {
  margin: 0px;
  /*background-color: #990000;*/
  background-image: url(../images/snow.gif), url(../images/snowflakes.gif);
  background-repeat: repeat, repeat;
  background-attachment: fixed, fixed;
  background-position: center top, center top;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#container {
  width: 982px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 0px;
  background-color: transparent;
  border: 0px;
  /*overflow: hidden;*/
}

#header {
  width: 991px; 
  height: 103px;
  margin: 10px 0px 2px 0px;
  padding: 0px;
  background-color: white;
}

#donationdiv {
  width: 982px; */
  height: 600px;
  margin: 0px;
  background: white;
  border: 5px solid red;
  /* border: 0px; */
  /* overflow: hidden; */
}

#christmasdiv {
  display:inline-block;
}

#donationbody {
  /*float: right;*/
  display:inline-block;
  margin-top: 10px;
  width: 520px;
  /*background-color: gray;*/
}

.bold-red {
  font-weight: bold;
  color: #B22222;
}

hr.faded {
  border: 0px;
  background : url(../images/red-line.png) 0 0 no-repeat;
  margin : 1em 0;
}

ul, li {
  list-style-type: none;
  color: #B22222;
  text-indent: -38px;
}

#donationForm {
  display: none;
  margin-top: 10px;
  width: 520px;
  float: right;

  img {
    width: 100%
  }
}

#startDonate {
  cursor: pointer;
}

#thankYouForm {
  display: none;
  float: right;
  height: auto;
}

#thankYouForm img {
  margin-top: 85px;
}

#footer img {
  margin-top: 4px;
  width: 100%; 
}


/* FORM **/

.form-style-3{
    max-width: 500px;
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
}
.form-style-3 label{
    display:block;
    margin-bottom: 10px;
}
.form-style-3 label > span{
    float: left;
    width: 100px;
    color: #bd0606;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #fd6161;
    padding: 20px;
    background: #FFF4F4;
    box-shadow: inset 0px 0px 15px #FFE5E5;
    -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
    -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}
.form-style-3 fieldset legend{
    color: #c13b3f;
    border-top: 1px solid #fd6161;
    border-left: 1px solid #fd6161;
    border-right: 1px solid #fd6161;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #FFF4F4;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
    font-weight: bold;
    font-size: 18px;
}
.form-style-3 textarea{
    width:250px;
    height:50px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #FFC2DC;
    outline: none;
    color: #da3c3c;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #f9e9e9;
    -moz-box-shadow: inset 1px 1px 4px #f9e9e9;
    -webkit-box-shadow: inset 1px 1px 4px #f9e9e9;
    background: #FFEFF6;
    width:70%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button],
input[type=back]
{
  background: #990000;
  border: 1px solid #750404;
  padding: 5px 15px 5px 15px;
  color: #fdfdfd;
  box-shadow: inset -1px -1px 3px #b50909;
  -moz-box-shadow: inset -1px -1px 3px #b50909;
  -webkit-box-shadow: inset -1px -1px 3px #b50909;
  border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}
.required{
  color:red;
  font-weight:normal;
}
/** END **/

